<div [hidden] = "!loading">
  <app-loading></app-loading>
</div>


<div class = "container background" [hidden] = "loading">


  <div class = "container container-form">

    <ion-icon name="person" class = "user-icon"></ion-icon>
    <h1><b>Sign In</b></h1>

    <form [formGroup] = "form" (ngSubmit) = "login()">
      <ion-item>
        <ion-input placeholder = "Email/Username" type = "text" formControlName = "user" (keyup.enter)="login()">
          <ion-icon name="person"></ion-icon>&nbsp;
        </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input placeholder = "password" type = "password" formControlName = "password" (keyup.enter)="login()">
          <ion-icon name="key"></ion-icon>&nbsp;
        </ion-input>
      </ion-item><br>

      <ion-button color = "success" type = "submit">Login</ion-button>&nbsp; &nbsp;
      <ion-button color = "danger" type = "button" (click) = "initForm()">Reset</ion-button>
    </form>


  </div>







</div>