.background {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    height: 100%;
    animation: fade 2s;
}


.dashboard-container{
    position: relative;
    top: 5%;
    background: white;
    width: 95%;
    left: 2%;
    border-radius: 10px;
    height: 90%;
    box-shadow: 0px 5px 10px 4px rgba(163, 163, 163, 0.534);
}

.dashboard-bar {
    color: white;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    width: 20%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.active-window {
    background: #09c6f9;

}

.window {
    padding: 20px;
    width: 100%;
    cursor: pointer;
    margin-top: -15px;
    font-size: 90%;
}

.inactive-window{
    transition: background 1s;
}

.inactive-window:hover {
    background: #04718f;
}



ion-button[shape=circle] {
    --border-radius: 50%;
    width: 56px;
    height: 56px;
}

.settings {
    float: right;
}

.icon {
    font-size: 30px !important;
}

.user-icon{
    border: 1px solid white;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    color: white;
    font-size: 35px;
    border-radius: 50%;
    padding: 10px;
}

.user {
    position: absolute;
    left: 20%;
}

.username {
    position: relative;
    bottom: 20px;
    left: 10px;
}

.main {
    position: absolute;
    left: 21%;
    height: 88%;
    top: 10%;
    width: 78%;
}


