<div class = "background container">

  <div class = "container dashboard-container">

    <div class = "user">
      <ion-icon name="person" class = "user-icon"></ion-icon>
      <b class = "username">{{getUsername()}}</b>
    </div>

    <div class = "settings">
      <ion-button shape = "circle" color = "danger" (click) = "logout()">
        <ion-icon name="power" class = "shutdown"></ion-icon>
      </ion-button>
  
      <ion-button color = "light" shape = "circle" (click) = "settings()">
        <ion-icon name="settings" class = "icon" ></ion-icon>
      </ion-button>
    </div>

    <div class = "container dashboard-bar">
      <img src = "assets/parki2.png">


          <p class = "window" routerLinkActive = "active-widnow" (click) = "manageDrivers()" [ngClass] = "isActive('/dashboard/manage_drivers') ? 'active-window' : 'inactive-window'">Manage Drivers</p>

          <p class = "window" routerLinkActive = "active-widnow" (click) = "manageAgents()" [ngClass] = "isActive('/dashboard/manage_agents') ? 'active-window' : 'inactive-window'">Manage Agents</p>

          <p class = "window" routerLinkActive = "active-widnow" (click) = "manageAdmins()" [ngClass] = "isActive('/dashboard/manage_admins') ? 'active-window' : 'inactive-window'">Manage Admins</p>

          <p class = "window" routerLinkActive = "active-widnow" (click) = "manageParkingLots()" [ngClass] = "isActive('/dashboard/manage_parking_lots') ? 'active-window' : 'inactive-window'">Manage Parking lots</p>

          <p class = "window" routerLinkActive = "active-widnow" (click) = "manageMunicipalCarZones()" [ngClass] = "isActive('/dashboard/manage_municipal_car_zones') ? 'active-window' : 'inactive-window'">Manage Municipal car zones</p>
  
    </div>



    <div class = "main">
      <router-outlet></router-outlet>
    </div>





  </div>



</div>